{% extends '_layout.twig' %}

{% block content %}

{% for prod in products %}
  <div id="product-{{prod.barcode}}" class="span4 product-item"><div class="product-item-wrapper">
      <div style="text-align: center;" class="fullinfo">
        <a href="#{{prod.barcode}}">
          <img class="product-image-mini" data-src="holder.js/120x120" alt="120x120" style="width: 120px; height: 120px;" src="{{prod.picture}}">
        </a>
      </div>
      <div class="product-title-box fullinfo"><a href="#{{prod.barcode}}">{{prod.name}}</a></div>
      <div class="product-price-box">
        <table><tr>
          <td class="p-left">{{prod.price}} <sup>руб.</sup></td>
          <td class="p-right">{{prod.price}} <sup>гол.</sup></td>
        </tr></table>
      </div>
      <div class="product-basket-box">
        <table><tr>
          <td class="p-left"><input class="p-count" type="text" value="1"></td>
          <td class="p-right"><a href="#" onclick="orderWindow('{{prod.barcode}}'); return false;">КУПИТЬ <i class="icon-shopping-cart"></i></a></td>
        </tr></table>
      </div>
      <div class="product-link-box">
        <table><tr>
          <td><a href="#">подробнее</a></td>
          <td><a href="#">сравнить</a></td>
          <td><a href="#">поделиться</a></td>
        </tr></table>
      </div>
      <div>
        <img src="/style/vkontacte/img/hearts.png" alt="">
      </div>
  </div></div>
{% endfor %}


{% endblock %}